.footer-parent-container {
  z-index: 99;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  text-align: left;
  padding: 55px 15px 10px;
}
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.sub-title {
  font-weight: 400;
  color: #d1d3d4;
}
.sub-title:hover {
  color: #fff;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  min-height: 90px;
}
@media screen and (max-width: 768px) {
  .footer-logo {
    justify-content: center;
  }
}
.social-container {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin-right: 10%;
  padding-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .social-container {
    justify-content: center;
    margin-right: 0;
  }
}
.social-network {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.cursor {
  cursor: pointer;
}
.hr-line {
  background-image: linear-gradient(
    90deg,
    #131313,
    #fff 40%,
    #101010 100%,
    #0f0f0f
  );
  height: 1px;
  opacity: 0.5;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .my-button {
    max-width: 290px;
  }
}
