.footer-parent-container {
  z-index: 99;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  text-align: left;
  padding: 55px 15px 10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-container {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: flex-start;
    text-align: center;
  }
  .visible-footer-heading:first-child {
  }
}
@media screen and (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.sub-title {
  font-weight: 400;
  color: #d1d3d4;
}
.sub-title:hover {
  color: #fff;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  min-height: 90px;
}
@media screen and (max-width: 768px) {
  .footer-logo {
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .footer-logo {
    justify-content: center;
  }
}
.footer-logo-img {
  width: 130px;
}
@media screen and (max-width: 768px) {
  .footer-logo-img {
    width: 100px;
  }
}
.footer-copyright {
  color: hsla(200, 3%, 83%, 0.75);
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: 1.43px;
  line-height: 1;
  font-family: Averta, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.social-container {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin-right: 10%;
  padding-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .social-container {
    justify-content: center;
    margin-right: 0;
  }
}
.social-network {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.cursor {
  cursor: pointer;
}
.hr-line {
  background-image: linear-gradient(
    90deg,
    #131313,
    #fff 40%,
    #101010 100%,
    #0f0f0f
  );
  height: 1px;
  opacity: 0.5;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .my-button {
    max-width: 290px;
  }
}
.footer-part-title {
  visibility: hidden;
}
.visible-footer-heading {
  visibility: visible;
}
@media screen and (max-width: 767px) {
  .footer-part-title {
    visibility: hidden;
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .footer-container {
    text-transform: capitalize;
    vertical-align: super;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.33;
    gap: 5px;
  }
}
